<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="/user-style.css" rel="stylesheet"/>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Список пользователей</h2>
        <table border="1">
            <caption>Таблица список пользователей</caption>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td><a th:href="@{user-update/{id}(id=${user.id})}">Edit</a></td>
                <td>
                    <a th:href="@{user-delete/{id}(id=${user.id})}" style="color: red;">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Create user</a></p>
</div>
</body>
</html>
